* {
    padding: 5px;
}

#log-container {
    overflow: auto;
    max-height: 100%;
}

.roverPosition {
    background-color: black;
    border-radius: 50%;
}

.obstaclePosition {
    background-color: red;
}